// developed by Cristian Hernandez


//colors

$com_green:         #5fc0c3;
$com_gray_base:     #575656;
$com_gray_blue:     #454850;
$com_gray_text:     #5b6172;
$com_gray_light:     #f1f2f5;
$com_gray_footer:      #979eb1; 


//fonts

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://use.fontawesome.com/releases/v5.4.1/css/all.css');

//artefacts

// artefacts, mixins

%title_section {
    font-size: 4.6rem;
    text-align: center;
    text-transform: uppercase;
    color: $com_gray_base;
    margin-top: 4rem;
    margin-bottom: 2rem;
    @media only screen and (min-width: 768px) { font-size: 2.5rem;}
}

%title_sub {
    color: $com_gray_base;
    font-size: 34px;
    text-transform: uppercase;
    @media only screen and (min-width: 768px) { font-size: 1.5rem;}
}

%title_inter {
    font-size: 34px;
    @media only screen and (min-width: 768px) { font-size: 1.5rem;}
}

%text_regular {
    font-family: 'Open Sans', sans-serif;
    color: $com_gray_text;
    font-size: 28px; 
    @media only screen and (min-width: 768px) { font-size: 1.2rem;}
    @media only screen and (min-width: 1200px) { font-size: 1rem;}
}

%general_shadow {
	box-shadow: 7px 7px 20px 0px rgba(119, 109, 109, 0.32);
	&:hover { box-shadow: 7px 7px 20px 0px rgba(0, 0, 0, 0.5);}
}

%transform {
	transform: transition;
	transition-duration: 0.5s;
}

%after-before-bas {
	position: absolute;
	content: " ";
}

%items-field {
    display: flex;
    width: 100%;
    overflow-x: auto;
}


@mixin linear-gradient($from, $to) {
	background: $to;
	  background: -moz-linear-gradient(top, $from 0%, $to 100%);
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
	  background: -webkit-linear-gradient(top, $from 0%,$to 100%);
	  background: -o-linear-gradient(top, $from 0%,$to 100%);
	  background: linear-gradient(to bottom, $from 0%,$to 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
  }

@mixin border-radius($radius) { 
	 -webkit-border-radius: $radius;
		-moz-border-radius: $radius; 
			 border-radius: $radius;
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
    	    transform: $transforms;
}


// general layout

body {
    &.html {
        font-family: 'Open Sans', sans-serif;
        color: $com_gray_text;
    }
    #header { 
        background: white;
        #name-and-slogan { display: none;}
    }
    #header div.section, 
    #featured div.section,
    #messages div.section, 
    #main, 
    #triptych, 
    #footer-columns, 
    #footer,
    img { width: 100%;}

    #featured {
        padding: 0;
        text-shadow: none;
        background: none;
        border: none;
        .content { margin: 0;}
        .block-block {
            > h2 { display: none;}
        }
    }
    #content {
        .section { 
            padding: 0;
            > .tabs { display: none;}
        }
        .block-block {
            > h2 {
                @extend %title_section;
            }
        }
    }

    p {
        @extend %text_regular;
    }
    * { box-sizing: border-box;}
    .flickity {
        &-page {
            &-dots {
                .dot { background: $com_green;}
            }
        }
        &-button { 
            background: none;
            &-icon { fill: $com_green;} 
    }
}

}
.wrapper {
    &--box {
        @media (min-width: 768px) {
            display: flex;
            overflow-x: auto;
            flex-wrap: wrap;
        }
    }
}

.col {
    @media (min-width: 1024px) {
        width: 33%;
        flex: 0 0 33%;
    }
    &-100 {
        @media (min-width: 1024px) {
            width: 100%;
            flex: 0 0 100%;
        } 
    }
}


// components

.title {
    &.title {
        &--sub {
            @extend %title_sub;
        }
        &--inter {
            @extend %title_inter;
        }
        &--general {
            @extend %title_section;
        }
    }
}

.text {
    &--green { color: $com_green;}
}

.btn {
    @extend %transform;
    font-size: 28px;
    text-transform: uppercase;
    padding: 2rem 2.5rem;
    display: inline-block;
    height: auto;
    line-height: 100%;
    border: none;
    @media only screen and (min-width: 768px) { 
        font-size: 1.2rem;
        padding: 1.5rem 2rem;
    }
    &.btn {
        &--plain {
            background: $com_green;
            color: white;
        }
        &--border { 
            @include border-radius(0);
            border: 3px solid $com_green;
            color: $com_green;
            &:hover {
                background: $com_green;
                color: white;
                text-decoration: none;
            }
        }
        &--link { color: $com_green;}
    }
}

.custom {
    &__section {
        @media (min-width: 1200px) {
            padding-left: 0;
            padding-right: 0;
        }
        .wrapper {
            @media (min-width: 1200px) {
                max-width: 1200px;
                margin: auto;
            }
        }
    }
}
.region {
    &_content {
        > .block {
            > h2 {
                @extend %title_section;
            }
        }
    }
}


// header 

#header {
    padding: 3rem;
    @media (min-width: 768px) { 
        padding: 1rem 2rem;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 9;
    }
   #logo {
        @media (min-width: 768px) { padding: 0;}
    }
    img {
        @media (min-width: 768px) { max-width: 8rem;}
        @media (min-width: 1024px) { 
            max-width: 80%;
            margin-top: 0.3rem;
        }
    }
    > .section {
        display: flex;
        position: relative;
        @media (min-width: 768px) {
            display: block;
            text-align: right;
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
            margin: auto;
        }
    }
    .navigation {
        position: static;
        @media (min-width: 768px) { display: inline-block;}
        .element-invisible {
            display: block;
            position: absolute;
            width: 6rem;
            height: 100%;
            background: red;
            top: 0;
            right: 0;
            clip: auto;
            overflow: hidden;
            margin: 0;
            @media (min-width: 768px) { display: none;}
        }
    }
    #main-menu-links {
        @extend %transform;
        position: absolute;
        width: 100%;
        top: -100rem;
        background: white;
        left: 0;
        box-sizing: border-box;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
            position: static;
            padding: 0;
            background: none;
            flex-direction: row;
        }
        li {
            display: flex;
            justify-content: center;
            a {
                @extend .btn;
                background: none;
                @media (min-width: 768px) {
                    font-size: 1rem;
                    padding: 1rem;
                }
            }
            &.last {
                a {
                    @include border-radius(0);
                    border: 3px solid $com_green;
                    color: $com_green;
                }
            }
        }
    }
}



// hero


.hero {
    text-align: center;
    &__title { 
        font-size: 3rem;
        line-height: 120%;
    }
    * { color: white;}
    @media (min-width: 768px) { 
        position: relative;
        margin-bottom: -1rem;
    }
    @media (min-width: 1200px) {
        max-height: 87vh;
        overflow: hidden;
        margin-bottom: 0;
    }
    &__caption {
        background: $com_gray_light;
        padding: 2rem;
        width: 90%;
        margin: auto;
        position: relative;
        margin-top: -1rem;
        @media (min-width: 768px) {
            background: none;
            position: absolute;
            top: 50%;
            margin-top: 0;
            width: 100%;
            transform: translate(0, -50%);
        }
        @media (min-width: 1200px) {
            max-width: 1200px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    &__title { 
        text-transform: uppercase;
        margin-top: 1rem;
    }
    &__text { 
        font-size: 2.3rem;
        @media (min-width: 768px) {
            color: white;
            font-size: 1.5rem;
        }
        @media (min-width: 1024px) {
            font-size: 1rem;
            line-height: 200%;
        }
        @media (min-width: 1200px) { font-size: 1.3rem;}
        &:last-child {
            @media (min-width: 1024px) { margin-top: 2rem !important;}
        }
    }
    .wrapper {
        @media (min-width: 1200px) { min-width: 100%;}
    }
    img { height: auto;}
}


// cta

.cta {
    background: $com_gray_light;
    padding: 2rem;
    .title { 
        font-weight: bold;
        @media (min-width: 1024px) {margin-top: 0; }
    }
    &__text { 
        margin-bottom: 1rem;
        @media (min-width: 1024px) {
            margin: 0;
            text-align: left;
        }
    }
    .wrapper {
        @media (min-width: 1024px) {
            display: flex;
            justify-content: space-between;
        }
    }
    .field-name-field-comment {
        @extend %text_regular;
    }
}


// involved

.involved {
    .title {
        width: 100%;
        flex: 0 0 100%;
    }
    .field-item,
    &__item {
        text-align: center;
        margin-bottom: 5rem;
        @media (min-width: 768px) {
            width: 70%;
            flex: 0 0 70%;
            padding: 0 3rem;
        }
        @media (min-width: 1024px) { 
            padding: 0 1.5rem;
            width: 33%;
            flex: 0 0 33%;
        }
        img { 
            max-width: 50%;
            margin: auto;
            height: auto;
        }
    }
    .field-items {
        @extend %items-field;
    }
}


// our mission

#block-block-3 {
    background: $com_gray_light;
    padding: 5rem 3rem 3rem;
    border-top: none;
    @media (min-width: 1024px) { padding-top: 1rem;}
    .title { margin-top: 0;}
}

.our {
    &__mission {
        background: $com_gray_light;
        text-align: center;
        .field-item,
        &__item {
            margin-bottom: 3rem;
            margin-top: 5rem;
            @media (min-width: 1024px) {
                margin-top: 1rem;
                padding: 0 0.5rem;
                width: 33%;
                flex: 0 0 33%;
                &:last-child { padding-right: 0;}
                &:first-child { padding-left: 0;}
            }
            img {
                max-width: 10.5rem;
                height: auto;
            }
        }
        &__caption {
            @include border-radius(1rem);
            background: white;
            padding: 2rem 3rem 1rem;
            margin-top: -6rem;
            @media only screen and (min-width: 768px) {
                padding-top: 4rem;
                margin-top: -5.5rem;
            }
        }
        .field-items {
            @extend %items-field;
            flex-direction: column;
            padding: 0 2rem;
            @media only screen and (min-width: 768px) { flex-direction: row;}
        }
        .wrapper {
            border-bottom: 1px solid #d9dadd;
        }
        //p { font-size: 11px;}
        .col { 
            width: 100%;
            padding: 0 2rem;
        }
    }
}

 #block-block-2 {
    background: $com_gray_blue;
    .region { margin: 0;}
    > h2 { display: none;}
    br { display: none;}
    .footer {
        text-align: center;
        padding: 2rem 0 1rem;
        .btn {
            padding: 0.5rem;
            font-size: 1.2rem;
            color: $com_green;
        }
        p { color: $com_gray_footer;} 
        &__social {
            border-bottom: 2px solid $com_gray_footer;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }
    }
}

//brands

.brands {
    background: $com_gray_light;
    padding-top: 3rem;
    padding-bottom: 2rem;
    &__item {
        padding: 0 3rem;
        @media only screen and (min-width: 768px) { width: 50%;}
        @media only screen and (min-width: 1024px) { width: 33%;}
        img {
            height: auto;
            position: static;
        }
    }
    .title {
        margin-top: 0;
    }
    .flickity-button { display: none;}
    .flickity-page-dots { position: static;}
}


#block-views-blog-posts-block {
    > h2 { @extend %title_section;}
    .flickity-page-dots { display: none;}
}

.view-blog-posts {
    .flickity {
        &-slider {
            .views{
                &-row {
                    width: 100%;
                    padding: 2rem;
                    @media only screen and (min-width: 768px) { width: 50%;}
                    @media only screen and (min-width: 1024px) { width: 25%;}
                }
                &-field {
                    &-title {
                        a {
                            @extend %text_regular;
                            font-size: 32px;
                            color: $com_green;
                            font-weight: 600;
                            display: block;
                            padding-bottom: 1rem;
                            border-bottom: 1px solid #f1f2f5;
                            @media only screen and (min-width: 768px) { font-size: 1.5rem;}
                            @media only screen and (min-width: 1200px) { font-size: 1.2rem;}
                        }
                    }
                    &-body {
                        margin: 1rem 0;
                        .views-label { display: none;}
                    }
                    &-created {
                        padding-top: 1rem;
                        border-top: 1px solid #f1f2f5;
                        .views-label { display: none;}
                        span {
                            @extend %text_regular;
                            font-size: 32px;
                            @media only screen and (min-width: 768px) { font-size: 1rem;}
                        }
                    }
                }
            }
        }
    }
    .view-content { 
        max-width: 1200px;
        margin: auto;
    }
}