@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import url("https://use.fontawesome.com/releases/v5.4.1/css/all.css");
/* line 23, ../sass/custom.scss */
body #content .block-block > h2, .title.title--general, .region_content > .block > h2, #block-views-blog-posts-block > h2 {
  font-size: 4.6rem;
  text-align: center;
  text-transform: uppercase;
  color: #575656;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  /* line 23, ../sass/custom.scss */
  body #content .block-block > h2, .title.title--general, .region_content > .block > h2, #block-views-blog-posts-block > h2 {
    font-size: 2.5rem;
  }
}

/* line 33, ../sass/custom.scss */
.title.title--sub {
  color: #575656;
  font-size: 34px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  /* line 33, ../sass/custom.scss */
  .title.title--sub {
    font-size: 1.5rem;
  }
}

/* line 40, ../sass/custom.scss */
.title.title--inter {
  font-size: 34px;
}
@media only screen and (min-width: 768px) {
  /* line 40, ../sass/custom.scss */
  .title.title--inter {
    font-size: 1.5rem;
  }
}

/* line 45, ../sass/custom.scss */
body p, .cta .field-name-field-comment, .view-blog-posts .flickity-slider .views-field-title a, .view-blog-posts .flickity-slider .views-field-created span {
  font-family: 'Open Sans', sans-serif;
  color: #5b6172;
  font-size: 28px;
}
@media only screen and (min-width: 768px) {
  /* line 45, ../sass/custom.scss */
  body p, .cta .field-name-field-comment, .view-blog-posts .flickity-slider .views-field-title a, .view-blog-posts .flickity-slider .views-field-created span {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 45, ../sass/custom.scss */
  body p, .cta .field-name-field-comment, .view-blog-posts .flickity-slider .views-field-title a, .view-blog-posts .flickity-slider .views-field-created span {
    font-size: 1rem;
  }
}

/* line 58, ../sass/custom.scss */
.btn, #header #main-menu-links li a, #header #main-menu-links {
  transform: transition;
  transition-duration: 0.5s;
}

/* line 68, ../sass/custom.scss */
.involved .field-items, .our__mission .field-items {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

/* line 103, ../sass/custom.scss */
body.html {
  font-family: 'Open Sans', sans-serif;
  color: #5b6172;
}
/* line 107, ../sass/custom.scss */
body #header {
  background: white;
}
/* line 109, ../sass/custom.scss */
body #header #name-and-slogan {
  display: none;
}
/* line 111, ../sass/custom.scss */
body #header div.section,
body #featured div.section,
body #messages div.section,
body #main,
body #triptych,
body #footer-columns,
body #footer,
body img {
  width: 100%;
}
/* line 120, ../sass/custom.scss */
body #featured {
  padding: 0;
  text-shadow: none;
  background: none;
  border: none;
}
/* line 125, ../sass/custom.scss */
body #featured .content {
  margin: 0;
}
/* line 127, ../sass/custom.scss */
body #featured .block-block > h2 {
  display: none;
}
/* line 131, ../sass/custom.scss */
body #content .section {
  padding: 0;
}
/* line 133, ../sass/custom.scss */
body #content .section > .tabs {
  display: none;
}
/* line 145, ../sass/custom.scss */
body * {
  box-sizing: border-box;
}
/* line 149, ../sass/custom.scss */
body .flickity-page-dots .dot {
  background: #5fc0c3;
}
/* line 152, ../sass/custom.scss */
body .flickity-button {
  background: none;
}
/* line 154, ../sass/custom.scss */
body .flickity-button-icon {
  fill: #5fc0c3;
}

@media (min-width: 768px) {
  /* line 160, ../sass/custom.scss */
  .wrapper--box {
    display: flex;
    overflow-x: auto;
    flex-wrap: wrap;
  }
}

@media (min-width: 1024px) {
  /* line 169, ../sass/custom.scss */
  .col {
    width: 33%;
    flex: 0 0 33%;
  }
}
@media (min-width: 1024px) {
  /* line 174, ../sass/custom.scss */
  .col-100 {
    width: 100%;
    flex: 0 0 100%;
  }
}

/* line 200, ../sass/custom.scss */
.text--green {
  color: #5fc0c3;
}

/* line 203, ../sass/custom.scss */
.btn, #header #main-menu-links li a {
  font-size: 28px;
  text-transform: uppercase;
  padding: 2rem 2.5rem;
  display: inline-block;
  height: auto;
  line-height: 100%;
  border: none;
}
@media only screen and (min-width: 768px) {
  /* line 203, ../sass/custom.scss */
  .btn, #header #main-menu-links li a {
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
  }
}
/* line 217, ../sass/custom.scss */
.btn.btn--plain, #header #main-menu-links li a.btn--plain {
  background: #5fc0c3;
  color: white;
}
/* line 221, ../sass/custom.scss */
.btn.btn--border, #header #main-menu-links li a.btn--border {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 3px solid #5fc0c3;
  color: #5fc0c3;
}
/* line 225, ../sass/custom.scss */
.btn.btn--border:hover, #header #main-menu-links li a.btn--border:hover {
  background: #5fc0c3;
  color: white;
  text-decoration: none;
}
/* line 231, ../sass/custom.scss */
.btn.btn--link, #header #main-menu-links li a.btn--link {
  color: #5fc0c3;
}

@media (min-width: 1200px) {
  /* line 236, ../sass/custom.scss */
  .custom__section {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  /* line 241, ../sass/custom.scss */
  .custom__section .wrapper {
    max-width: 1200px;
    margin: auto;
  }
}

/* line 262, ../sass/custom.scss */
#header {
  padding: 3rem;
}
@media (min-width: 768px) {
  /* line 262, ../sass/custom.scss */
  #header {
    padding: 1rem 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
  }
}
@media (min-width: 768px) {
  /* line 272, ../sass/custom.scss */
  #header #logo {
    padding: 0;
  }
}
@media (min-width: 768px) {
  /* line 275, ../sass/custom.scss */
  #header img {
    max-width: 8rem;
  }
}
@media (min-width: 1024px) {
  /* line 275, ../sass/custom.scss */
  #header img {
    max-width: 80%;
    margin-top: 0.3rem;
  }
}
/* line 282, ../sass/custom.scss */
#header > .section {
  display: flex;
  position: relative;
}
@media (min-width: 768px) {
  /* line 282, ../sass/custom.scss */
  #header > .section {
    display: block;
    text-align: right;
  }
}
@media (min-width: 1200px) {
  /* line 282, ../sass/custom.scss */
  #header > .section {
    max-width: 1200px;
    margin: auto;
  }
}
/* line 294, ../sass/custom.scss */
#header .navigation {
  position: static;
}
@media (min-width: 768px) {
  /* line 294, ../sass/custom.scss */
  #header .navigation {
    display: inline-block;
  }
}
/* line 297, ../sass/custom.scss */
#header .navigation .element-invisible {
  display: block;
  position: absolute;
  width: 6rem;
  height: 100%;
  background: red;
  top: 0;
  right: 0;
  clip: auto;
  overflow: hidden;
  margin: 0;
}
@media (min-width: 768px) {
  /* line 297, ../sass/custom.scss */
  #header .navigation .element-invisible {
    display: none;
  }
}
/* line 311, ../sass/custom.scss */
#header #main-menu-links {
  position: absolute;
  width: 100%;
  top: -100rem;
  background: white;
  left: 0;
  box-sizing: border-box;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  /* line 311, ../sass/custom.scss */
  #header #main-menu-links {
    position: static;
    padding: 0;
    background: none;
    flex-direction: row;
  }
}
/* line 328, ../sass/custom.scss */
#header #main-menu-links li {
  display: flex;
  justify-content: center;
}
/* line 331, ../sass/custom.scss */
#header #main-menu-links li a {
  background: none;
}
@media (min-width: 768px) {
  /* line 331, ../sass/custom.scss */
  #header #main-menu-links li a {
    font-size: 1rem;
    padding: 1rem;
  }
}
/* line 340, ../sass/custom.scss */
#header #main-menu-links li.last a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 3px solid #5fc0c3;
  color: #5fc0c3;
}

/* line 355, ../sass/custom.scss */
.hero {
  text-align: center;
}
/* line 357, ../sass/custom.scss */
.hero__title {
  font-size: 3rem;
  line-height: 120%;
}
/* line 361, ../sass/custom.scss */
.hero * {
  color: white;
}
@media (min-width: 768px) {
  /* line 355, ../sass/custom.scss */
  .hero {
    position: relative;
    margin-bottom: -1rem;
  }
}
@media (min-width: 1200px) {
  /* line 355, ../sass/custom.scss */
  .hero {
    max-height: 87vh;
    overflow: hidden;
    margin-bottom: 0;
  }
}
/* line 371, ../sass/custom.scss */
.hero__caption {
  background: #f1f2f5;
  padding: 2rem;
  width: 90%;
  margin: auto;
  position: relative;
  margin-top: -1rem;
}
@media (min-width: 768px) {
  /* line 371, ../sass/custom.scss */
  .hero__caption {
    background: none;
    position: absolute;
    top: 50%;
    margin-top: 0;
    width: 100%;
    transform: translate(0, -50%);
  }
}
@media (min-width: 1200px) {
  /* line 371, ../sass/custom.scss */
  .hero__caption {
    max-width: 1200px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
/* line 392, ../sass/custom.scss */
.hero__title {
  text-transform: uppercase;
  margin-top: 1rem;
}
/* line 396, ../sass/custom.scss */
.hero__text {
  font-size: 2.3rem;
}
@media (min-width: 768px) {
  /* line 396, ../sass/custom.scss */
  .hero__text {
    color: white;
    font-size: 1.5rem;
  }
}
@media (min-width: 1024px) {
  /* line 396, ../sass/custom.scss */
  .hero__text {
    font-size: 1rem;
    line-height: 200%;
  }
}
@media (min-width: 1200px) {
  /* line 396, ../sass/custom.scss */
  .hero__text {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  /* line 407, ../sass/custom.scss */
  .hero__text:last-child {
    margin-top: 2rem !important;
  }
}
@media (min-width: 1200px) {
  /* line 411, ../sass/custom.scss */
  .hero .wrapper {
    min-width: 100%;
  }
}
/* line 414, ../sass/custom.scss */
.hero img {
  height: auto;
}

/* line 420, ../sass/custom.scss */
.cta {
  background: #f1f2f5;
  padding: 2rem;
}
/* line 423, ../sass/custom.scss */
.cta .title {
  font-weight: bold;
}
@media (min-width: 1024px) {
  /* line 423, ../sass/custom.scss */
  .cta .title {
    margin-top: 0;
  }
}
/* line 427, ../sass/custom.scss */
.cta__text {
  margin-bottom: 1rem;
}
@media (min-width: 1024px) {
  /* line 427, ../sass/custom.scss */
  .cta__text {
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 1024px) {
  /* line 434, ../sass/custom.scss */
  .cta .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

/* line 449, ../sass/custom.scss */
.involved .title {
  width: 100%;
  flex: 0 0 100%;
}
/* line 453, ../sass/custom.scss */
.involved .field-item, .involved__item {
  text-align: center;
  margin-bottom: 5rem;
}
@media (min-width: 768px) {
  /* line 453, ../sass/custom.scss */
  .involved .field-item, .involved__item {
    width: 70%;
    flex: 0 0 70%;
    padding: 0 3rem;
  }
}
@media (min-width: 1024px) {
  /* line 453, ../sass/custom.scss */
  .involved .field-item, .involved__item {
    padding: 0 1.5rem;
    width: 33%;
    flex: 0 0 33%;
  }
}
/* line 467, ../sass/custom.scss */
.involved .field-item img, .involved__item img {
  max-width: 50%;
  margin: auto;
  height: auto;
}

/* line 481, ../sass/custom.scss */
#block-block-3 {
  background: #f1f2f5;
  padding: 5rem 3rem 3rem;
  border-top: none;
}
@media (min-width: 1024px) {
  /* line 481, ../sass/custom.scss */
  #block-block-3 {
    padding-top: 1rem;
  }
}
/* line 486, ../sass/custom.scss */
#block-block-3 .title {
  margin-top: 0;
}

/* line 490, ../sass/custom.scss */
.our__mission {
  background: #f1f2f5;
  text-align: center;
}
/* line 493, ../sass/custom.scss */
.our__mission .field-item, .our__mission__item {
  margin-bottom: 3rem;
  margin-top: 5rem;
}
@media (min-width: 1024px) {
  /* line 493, ../sass/custom.scss */
  .our__mission .field-item, .our__mission__item {
    margin-top: 1rem;
    padding: 0 0.5rem;
    width: 33%;
    flex: 0 0 33%;
  }
  /* line 502, ../sass/custom.scss */
  .our__mission .field-item:last-child, .our__mission__item:last-child {
    padding-right: 0;
  }
  /* line 503, ../sass/custom.scss */
  .our__mission .field-item:first-child, .our__mission__item:first-child {
    padding-left: 0;
  }
}
/* line 505, ../sass/custom.scss */
.our__mission .field-item img, .our__mission__item img {
  max-width: 10.5rem;
  height: auto;
}
/* line 510, ../sass/custom.scss */
.our__mission__caption {
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background: white;
  padding: 2rem 3rem 1rem;
  margin-top: -6rem;
}
@media only screen and (min-width: 768px) {
  /* line 510, ../sass/custom.scss */
  .our__mission__caption {
    padding-top: 4rem;
    margin-top: -5.5rem;
  }
}
/* line 520, ../sass/custom.scss */
.our__mission .field-items {
  flex-direction: column;
  padding: 0 2rem;
}
@media only screen and (min-width: 768px) {
  /* line 520, ../sass/custom.scss */
  .our__mission .field-items {
    flex-direction: row;
  }
}
/* line 526, ../sass/custom.scss */
.our__mission .wrapper {
  border-bottom: 1px solid #d9dadd;
}
/* line 530, ../sass/custom.scss */
.our__mission .col {
  width: 100%;
  padding: 0 2rem;
}

/* line 537, ../sass/custom.scss */
#block-block-2 {
  background: #454850;
}
/* line 539, ../sass/custom.scss */
#block-block-2 .region {
  margin: 0;
}
/* line 540, ../sass/custom.scss */
#block-block-2 > h2 {
  display: none;
}
/* line 541, ../sass/custom.scss */
#block-block-2 br {
  display: none;
}
/* line 542, ../sass/custom.scss */
#block-block-2 .footer {
  text-align: center;
  padding: 2rem 0 1rem;
}
/* line 545, ../sass/custom.scss */
#block-block-2 .footer .btn, #block-block-2 .footer #header #main-menu-links li a, #header #main-menu-links li #block-block-2 .footer a {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #5fc0c3;
}
/* line 550, ../sass/custom.scss */
#block-block-2 .footer p {
  color: #979eb1;
}
/* line 551, ../sass/custom.scss */
#block-block-2 .footer__social {
  border-bottom: 2px solid #979eb1;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* line 561, ../sass/custom.scss */
.brands {
  background: #f1f2f5;
  padding-top: 3rem;
  padding-bottom: 2rem;
}
/* line 565, ../sass/custom.scss */
.brands__item {
  padding: 0 3rem;
}
@media only screen and (min-width: 768px) {
  /* line 565, ../sass/custom.scss */
  .brands__item {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 565, ../sass/custom.scss */
  .brands__item {
    width: 33%;
  }
}
/* line 569, ../sass/custom.scss */
.brands__item img {
  height: auto;
  position: static;
}
/* line 574, ../sass/custom.scss */
.brands .title {
  margin-top: 0;
}
/* line 577, ../sass/custom.scss */
.brands .flickity-button {
  display: none;
}
/* line 578, ../sass/custom.scss */
.brands .flickity-page-dots {
  position: static;
}

/* line 584, ../sass/custom.scss */
#block-views-blog-posts-block .flickity-page-dots {
  display: none;
}

/* line 591, ../sass/custom.scss */
.view-blog-posts .flickity-slider .views-row {
  width: 100%;
  padding: 2rem;
}
@media only screen and (min-width: 768px) {
  /* line 591, ../sass/custom.scss */
  .view-blog-posts .flickity-slider .views-row {
    width: 50%;
  }
}
@media only screen and (min-width: 1024px) {
  /* line 591, ../sass/custom.scss */
  .view-blog-posts .flickity-slider .views-row {
    width: 25%;
  }
}
/* line 599, ../sass/custom.scss */
.view-blog-posts .flickity-slider .views-field-title a {
  font-size: 32px;
  color: #5fc0c3;
  font-weight: 600;
  display: block;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f1f2f5;
}
@media only screen and (min-width: 768px) {
  /* line 599, ../sass/custom.scss */
  .view-blog-posts .flickity-slider .views-field-title a {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 599, ../sass/custom.scss */
  .view-blog-posts .flickity-slider .views-field-title a {
    font-size: 1.2rem;
  }
}
/* line 611, ../sass/custom.scss */
.view-blog-posts .flickity-slider .views-field-body {
  margin: 1rem 0;
}
/* line 613, ../sass/custom.scss */
.view-blog-posts .flickity-slider .views-field-body .views-label {
  display: none;
}
/* line 615, ../sass/custom.scss */
.view-blog-posts .flickity-slider .views-field-created {
  padding-top: 1rem;
  border-top: 1px solid #f1f2f5;
}
/* line 618, ../sass/custom.scss */
.view-blog-posts .flickity-slider .views-field-created .views-label {
  display: none;
}
/* line 619, ../sass/custom.scss */
.view-blog-posts .flickity-slider .views-field-created span {
  font-size: 32px;
}
@media only screen and (min-width: 768px) {
  /* line 619, ../sass/custom.scss */
  .view-blog-posts .flickity-slider .views-field-created span {
    font-size: 1rem;
  }
}
/* line 629, ../sass/custom.scss */
.view-blog-posts .view-content {
  max-width: 1200px;
  margin: auto;
}
